# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in ansible_play_hosts %}
{% if 'address' in hostvars[host].ansible_default_ipv4 %}
{{ hostvars[host].ansible_default_ipv4.address }} {{ hostvars[host]['ansible_fqdn'] }}
{% endif %}
{% if 'address' in hostvars[host].ansible_default_ipv6 %}
{{ hostvars[host].ansible_default_ipv6.address }} {{ hostvars[host]['ansible_fqdn'] }}
{% endif %}
{% endfor %}
