#jinja2: lstrip_blocks: True, trim_blocks: True, keep_trailing_newline: True
consul = "{{ consul_host }}"

{% for vhost in proxy_vhosts %}
template {
  source = "{{ nginx_conf_root }}/vhosts/{{ vhost.fqdn }}.conf.ctmpl"
  destination = "{{ nginx_conf_root }}/vhosts/{{ vhost.fqdn }}.conf"
  command = "service nginx reload"
  perms = 0444
  backup = true
}
{% endfor %}
