[Service]
ExecStart=
ExecStart=/usr/bin/dockerd \
-H tcp://0.0.0.0:{{docker_daemon_port}} \
-H fd:// \
--exec-opt native.cgroupdriver=cgroupfs \
--tlsverify=true \
--tlscacert="/root/.docker/ca.pem" \
--tlscert="/root/.docker/server-cert.pem" \
--tlskey="/root/.docker/server-key.pem" \
--storage-driver=zfs
TimeoutStartSec=0
MountFlags=private
