roles/nginx/files/gce-freenas-nginx.json filter=git-crypt diff=git-crypt
**/secret.y*ml filter=git-crypt diff=git-crypt
files/**/*key.pem filter=git-crypt diff=git-crypt
.envrc filter=git-crypt diff=git-crypt
