ansible==2.2.1.0
apache-libcloud==1.5.0
appdirs==1.4.0
boto==2.45.0
cffi==1.9.1
click==6.7
cryptography==1.7.2
dopy==0.3.7
enum34==1.1.6
idna==2.2
ipaddress==1.0.18
Jinja2==2.9.5
MarkupSafe==0.23
netaddr==0.7.19
packaging==16.8
paramiko==2.1.1
pex==1.2.2
pluggy==0.4.0
pur==4.0.1
py==1.4.32
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
pyparsing==2.1.10
PyYAML==3.12
requests==2.13.0
requests-cache==0.4.13
six==1.10.0
tox==2.5.0
virtualenv==15.1.0
