set $ngo_client_id "{{ngo_client_id}}";
set $ngo_client_secret "{{ngo_client_secret}}";
set $ngo_token_secret "{{ngo_token_secret}}";
set $ngo_secure_cookies "true";
set $ngo_whitelist "{{ngo_whitelist}}";
set $ngo_user 1;
access_by_lua_file "access.lua";
