worker_processes auto;
# Syntax: user user [group];
user {{ nginx_user }} {{ nginx_group }};

events {
  use kqueue;
  worker_connections 4096;
}


http {
  include       mime.types;
  default_type  application/octet-stream;

  gzip off;

  # Avoid redundant caching. ZFS ARC already caches.
  sendfile off;
  tcp_nodelay on;
  tcp_nopush on;

  keepalive_timeout 5m;

  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_buffer_size 1400;

  ssl_dhparam dhparam.pem;

  # modern configuration. tweak to your needs.
  # https://mozilla.github.io/server-side-tls/ssl-config-generator/
  ssl_protocols TLSv1.1 TLSv1.2;
  ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK';
  ssl_prefer_server_ciphers on;

  # OCSP stapling
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/ssl/trusted-ssl-bundle.crt;
  resolver 127.0.0.1:53;

  add_header Strict-Transport-Security 'max-age=15768000; includeSubdomains';

  server_tokens off;

  # WebSockets
  # http://nginx.org/en/docs/http/websocket.html
  map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
  }

  geo $allowed_ranges {
    # require auth by default
    default 0;
    # do not require auth for these subnets
    127.0.0.1/32 1;
    192.168.239.0/24 1;
    fe80::/64 1;
  }

  # logging paths and params
  access_log off;
  error_log /var/log/nginx/error.log error;

  include vhosts/*.conf;

  # https www to non-www redirect
  server {
    listen 443 ssl accept_filter=dataready;
    listen [::]:443 ssl ipv6only=off accept_filter=dataready;
    server_name www.desertbluffs.com;

    ssl_certificate /usr/local/etc/simp_le/fullchain.pem;
    ssl_certificate_key /usr/local/etc/simp_le/key.pem;

    return 301 https://desertbluffs.com$request_uri;
  }

  server {
    listen 80 default_server accept_filter=httpready;
    server_name _;
    location / { root /srv/webroot; }
  }


  # Main server
  server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name desertbluffs.com;

    ssl_certificate /usr/local/etc/simp_le/fullchain.pem;
    ssl_certificate_key /usr/local/etc/simp_le/key.pem;

    location = / {
      echo $remote_addr;
      default_type text/plain;
    }

    location / {
      root /srv/webroot;
    }

    location /keybase.txt {
      echo 'Hello!';
      default_type text/plain;
    }

    location /_oauth {
      include auth.conf;
    }

    location /sonarr {
      rewrite ^/sonarr(.*)$ https://sonarr.desertbluffs.com$1 permanent;
    }

    location /couchpotato {
      rewrite ^/couchpotato(.*)$ https://couchpotato.desertbluffs.com$1 permanent;
    }

    location /nzbget {
      rewrite ^/nzbget(.*)$ https://nzbget.desertbluffs.com$1 permanent;
    }

    location /deluge {
      rewrite ^/deluge(.*)$ https://deluge.desertbluffs.com$1 permanent;
    }

    location /router {
      rewrite ^/router(.*)$ https://router.desertbluffs.com$1 permanent;
    }

    location /plexpy {
      rewrite ^/plexpy(.*)$ https://plexpy.desertbluffs.com$1 permanent;
    }

    location /kibana {
      rewrite ^/kibana(.*)$ https://kibana.desertbluffs.com$1 permanent;
    }

    location /owncloud {
      rewrite ^/owncloud(.*)$ https://owncloud.desertbluffs.com$1 permanent;
    }

    location /smokeping/ {
      rewrite ^/smokeping(.*)$ https://smokeping.desertbluffs.com$1 permanent;
    }
  }
}
