worker_processes auto;
# Syntax: user user [group];
user {{ nginx_user }} {{ nginx_group }};

# Load dynamic modules, nginx >= 1.9.11
# http://nginx.org/en/docs/ngx_core_module.html#load_module
load_module "{{ nginx_conf_root }}/modules/ngx_http_echo_module.so";
load_module "{{ nginx_conf_root }}/modules/ngx_http_lua_module.so";
load_module "{{ nginx_conf_root }}/modules/ngx_http_headers_more_filter_module.so";
load_module "{{ nginx_conf_root }}/modules/ngx_ssl_ct_module.so";
load_module "{{ nginx_conf_root }}/modules/ngx_http_ssl_ct_module.so";

events {
  use kqueue;
  worker_connections 4096;
}


http {
  include       mime.types;
  default_type  application/octet-stream;

  gzip off;

  # Avoid redundant caching. ZFS ARC already caches.
  sendfile off;
  tcp_nodelay on;
  tcp_nopush on;

  keepalive_timeout 5m;

  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;
  ssl_buffer_size 1400;

  ssl_dhparam dhparam.pem;

  # modern configuration. tweak to your needs.
  # https://mozilla.github.io/server-side-tls/ssl-config-generator/
  ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
  ssl_prefer_server_ciphers on;

  # OCSP stapling
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/ssl/trusted-ssl-bundle.crt;
  resolver 8.8.8.8 8.8.4.4 valid=30s;
  resolver_timeout 5s; # default 30s

  # https://github.com/grahamedgecombe/nginx-ct
  ssl_ct on;
  ssl_ct_static_scts /usr/local/etc/simp_le/sct/;

  add_header Strict-Transport-Security 'max-age=15768000; includeSubdomains';

  server_tokens off;

  # WebSockets
  # http://nginx.org/en/docs/http/websocket.html
  map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
  }

  geo $allowed_ranges {
    # require auth by default
    default 0;
    # do not require auth for these subnets
    127.0.0.1/32 1;
    192.168.239.0/24 1;
    fe80::/64 1;
  }

  # logging paths and params
  access_log off;
  error_log /var/log/nginx/error.log error;

  include vhosts/*.conf;
}
