#jinja2: lstrip_blocks: True, trim_blocks: True, keep_trailing_newline: True
upstream {{ item.fqdn | regex_replace('\.', '_') }} {
  keepalive 8;
  {% if 'consul_service' in item %}
  {{ "{{" }}range service "{{ item.consul_service }}"{{ "any" "}}" }}
  server {{ "{{" }}.Address{{ "}}" }}:{{ "{{" }}.Port{{ "}}" }};{{ "{{" }}end{{ "}}" }}
  {% else %}
  {% for upstream in item.upstreams %}
  server {{ upstream }};
  {% endfor %}
  {% endif %}
}

server {
  listen 443{{ " http2" if http2 else "" }} ssl;
  listen [::]:443{{ " http2" if http2 else "" }} ssl;
  server_name {{ item.fqdn }};

  ssl_certificate /usr/local/etc/simp_le/output/{{ item.fqdn }}/fullchain.pem;
  ssl_certificate_key /usr/local/etc/simp_le/output/{{ item.fqdn }}/key.pem;

  location / {
    {% if not 'auth' in item or item.auth %}
    include auth.conf;
    {% endif %}
    include proxy.conf;
    proxy_pass {{ 'https' if item.upstream_ssl|default(False) else 'http' }}://{{ item.fqdn | regex_replace('\.', '_') }}{{item.path if 'path' in item else '' }};
    {% include "./vhosts/" + item.fqdn + ".conf.j2" ignore missing %}
  }
}
