Interface=eth0
IP=static
Connection=ethernet
Address=('{{ address }}')
Gateway=('{{ gateway }}')
DNS=({{ joined_dns }})
DNSDomain={{ domain }}
DNSSearch={{ domain }}
Hostname={{ hostname }}
ExcludeAuto=no
