server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name deluge.desertbluffs.com;

  ssl_certificate /usr/local/etc/simp_le/output/deluge.desertbluffs.com/fullchain.pem;
  ssl_certificate_key /usr/local/etc/simp_le/output/deluge.desertbluffs.com/key.pem;

  location / {
    include auth.conf;
    include proxy.conf;
    proxy_pass http://192.168.239.6:8112/;
    client_max_body_size 5m;
  }

  location /_oauth {
    include auth.conf;
  }
}
