server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name kibana.desertbluffs.com;

  location / {
    access_log off;
    include auth.conf;
    include proxy.conf;
    proxy_pass http://192.168.239.2:5601/;
  }

  location /_oauth {
    include auth.conf;
  }
}


