server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name owncloud.desertbluffs.com;

  location / {
    client_max_body_size 5G;
    more_clear_headers X-Powered-By;
    more_set_headers 'X-Permitted-Cross-Domain-Policies:master-only';
    more_set_headers 'X-Robots-Tag:none';
    more_set_headers 'X-Frame-Options:SAMEORIGIN';

    include proxy.conf;
    proxy_pass http://mini.radoncanyon.com:8080/;
  }
}
