server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name plexpy.desertbluffs.com;

  location / {
    include auth.conf;
    include proxy.conf;
    proxy_pass http://192.168.239.6:8181/;
  }

  location /_oauth {
    include auth.conf;
  }
}
