server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name plex.desertbluffs.com;

  location / {
    if ($http_x_plex_device_name = '') {rewrite ^/$ https://$http_host/web/index.html;}

    include proxy.conf;
    proxy_pass http://192.168.239.17:32400/;
  }
}
