server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name plexpy.desertbluffs.com;

  location / {
    include auth.conf;
    include proxy.conf;
    proxy_ssl_name plexmediaserver.radoncanyon.com;
    proxy_pass https://192.168.239.17:8181/;
  }

  location /_oauth {
    include auth.conf;
  }
}
