server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name revoked.desertbluffs.com;

    ssl_certificate /usr/local/etc/simp_le/fullchain_revoked.pem;
    ssl_certificate_key /usr/local/etc/simp_le/key_revoked.pem;

  location / {
    echo "If you arrived here without seeing a security warning, don't trust your browser! :-(";
    default_type text/plain;
  }
}
