server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name sonarr.desertbluffs.com;

  location / {
    include auth.conf;
    include proxy.conf;
    proxy_pass http://sonarr.radoncanyon.com:8989/;
#    proxy_ssl_name sonarr.radoncanyon.com;
  }

  location /_oauth {
    include auth.conf;
  }
}
